{% extends "users/base.html" %}

{% block head_content %}
<title>Platzigram Signup</title>
{% endblock %}

{% block container %}
    {% if Error %}
        <div class="alert alert-danger">
            {{ Error }}
        </div>
    {% endif %}
    <form action="{% url 'signup' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Username" name="username">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" name="password">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password confirmation" name="password_confirmation">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="First name" name="first_name">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Last name" name="last_name">
        </div>
        <div class="form-group">
            <input type="email" class="form-control" placeholder="Email" name="email">
        </div>
        <button type="submit" class="btn btn-primary btn-block">Register</button>
    </form>
{% endblock %}